[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
joblib = "*"
flask = "*"
gunicorn = "*"
pandas = "*"
tflite-runtime = "*"
scikit-learn = "*"

[dev-packages]
matplotlib = "*"
seaborn = "*"
jupyter = "*"
ipykernel = "*"
keras = "*"

[requires]
python_version = "3.10"
