[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
joblib = "*"
flask = "*"
gunicorn = "*"
pandas = "*"
scikit-learn = "*"
awscli = "*"
tensorflow = "*"

[dev-packages]
matplotlib = "*"
seaborn = "*"
jupyter = "*"
ipykernel = "*"
keras = "*"
awsebcli = "*"
keras-tuner = "*"
streamlit = "*"

[requires]
python_version = "3.10"
